.card {
  float: left;
  border: solid 1px black;
  width: 120px;
  border-radius: 5px;
  height: 176px;
  margin-right: 20px;
}

.covered {
  background: url('../img/card-back.png') no-repeat center;
}

.hand {
  overflow: auto;
}