body {
  background: seagreen;
  font-family: Arial, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

body > div{
  width: 75%;
  margin: 0 auto;
}

.card {
  float: left;
  width: 130px;
  border: 1px solid gold;
  border-radius: 5px;
  height: 175px;
  margin-right: 20px;
}

.covered {
  background: url('../img/card-back.png') no-repeat center;
}

.hand {
  overflow: auto;
}

button {
  border: 0px;
  background-color: gold;
  color: white;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 10px;
}

h1, h2 {
  margin-left: 50px;
}

.scores {
  text-align: center;
}

/*new logic call a push if a tie?
player auto wins on 21*/